<h1 class='ui header ui center aligned segment'><%= @board.name %></h1>

<div class='layout'>
<% @lists.each do |list| %>
      <div class='ui card grey'>
          <div class="content">
              <div class="header"><%= list.name %></div>
              <%= list.show_tasks(list)
              <% @tasks.each do |task| %>
                <div class='ui card grey'>
                    <div class="content">
                        <%= task.name %>
                    </div>
                </div>
              <% end %>
          </div>
      </div>
<% end %>
</div>

<div class="ui center aligned segment">
  <%= link_to 'Back to Boards', boards_path, class:'ui button large'%>
</div>